
<style>

.img-responsive{

 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: -10px;
 margin-right: -10px;
}

.img-responsive:hover{
  opacity:0.65;
  -moz-opacity:0.65;
  filter:alpha(opacity=65);
}
.container-fluid{
  border-bottom: #4b9123 5px solid;
}

.head-strip{
font-family:"Museo Slab 300", Rockwell, Georgia, serif;
font-weight:300;
font-style:normal;
font-size:1.8em;
color: white;
background: #74b446;
height: 70px;
}

#tagline{
  padding-top: 14px;
  padding-left: 111px;
}

.col-md-1{
  padding-left: 1px;
  padding-right: 1px;
}

.row{
  padding-top: -10px
  margin-top: 0px;
}

</style>
<div id="content" class="container"></div>
<script>
  $(function () {
    // put stuff here
  });
</script>

<% if current_user %>
Welcome to Kiva, <%= current_user.fname %>!
<% end %>

<div class="head-strip conatiner-fluid">
  <div id="tagline">Just $25 dollars can give someone their rights</div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-1"> 
    <%= image_tag('KivaPhotos/1450127.jpg', class: "img-responsive")%>
  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1457525.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1594733.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
 
      <%= image_tag('KivaPhotos/1594739.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599024.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
   
      <%= image_tag('KivaPhotos/1599592.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599835.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1600566.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601294.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601336.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1602445.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1607233.jpg', class: "img-responsive")%>

  </div>
</div>


<div class="row">
  <div class="col-md-1"> 
    <%= image_tag('KivaPhotos/1450127.jpg', class: "img-responsive")%>
  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1457525.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1594733.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
 
      <%= image_tag('KivaPhotos/1594739.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599024.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
   
      <%= image_tag('KivaPhotos/1599592.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599835.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1600566.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601294.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601336.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1602445.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1607233.jpg', class: "img-responsive")%>

  </div>
</div>


<div class="row">
  <div class="col-md-1"> 
    <%= image_tag('KivaPhotos/1450127.jpg', class: "img-responsive")%>
  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1457525.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1594733.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
 
      <%= image_tag('KivaPhotos/1594739.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599024.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 
   
      <%= image_tag('KivaPhotos/1599592.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1599835.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1600566.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601294.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1601336.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1602445.jpg', class: "img-responsive")%>

  </div>
  <div class="col-md-1"> 

      <%= image_tag('KivaPhotos/1607233.jpg', class: "img-responsive")%>

  </div>
</div>
</div>
</div>
</div>
 

