<style>

  #content {
    padding-top: 20px;
    background-color: #f7f7f2;
    font: .875em/1.357 arial, helvetica, sans-serif;
  }

  #paralegalName {
    color: #4b9123;
    font-family: 'Museo Slab 500', Rockwell, Georgia, serif;
    font-weight: 500;
    font-size: 2.357em;
    margin-left: 100px;
  }

  #country {
    color: #197099;
    margin-left: 100px;
    font-size: 1.5em;
  }

  .jumbotron{
    margin-top: 10px;
    background-color: #fff;
    height: 1200px;
    border: #ccc 1px solid;
    -webkit-box-shadow: 0px -2px 8px -4px #888, 1px 1px 4px #ccc;
  }

  .img-responsive{
    width: 100%;
    height: auto;
  }

  .fund-container{
    border: solid black;
    height: 57%;
  }

  #caption{
    background-color: #efefef;
    padding: 10px 10px 10px 10px;
    text-align: left;
  }

  #long-description{
    margin-top: 20px;
    border-right: #ccc 1px solid;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  #case-description{
    margin-left: 0px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.4286em;
    font-weight: 400;
  }

  #case-info{
    border-bottom: #888 1px dotted;
  }

  #percent-raised{
    font-size: 2.6429em;
    font-family: "Museo Slab 500", Rockwell, Georgia, serif;
    font-weight: 500;
    color: #aaa;
    text-align: left;
  }

  #pulldown-button{
    margin-left: 15px;
    background: no-repeat 88% 50%, -webkit-gradient(linear,left top,left bottom,color-stop(0, #f7f7f2),color-stop(1, #ebebe5));
  }

  #donate-button{
    background-color: orange;
    width: 30%;
    margin-left: 15px;
  }

  #donation-message{
    margin-left: 15px;
  }



</style>


<h1 id="paralegalName"><%= paralegal.escape("name") %></h1>
<span id="country"><%= paralegal.escape("country") %></span>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="info-container" class="jumbotron">
        
        <div class="col-md-7">
          <div class="row" id="img-container">
            <img class="img-responsive" src=<%= paralegal.get("avatar_file_name") %>>
          </div>
          <div class="row" id="caption">
            <strong>Pictured:</strong> <%= paralegal.escape("name") %> outside the house
          </div>
          <div class="row" id="long-description">
            The solidarity group “Mujeres Solidarias En Acción” (Caring Women in Action) consists of three members, two women and one man. They are responsible for eight children among them. The members are originally from Carazo, a place that is located in the central part of the region. They are known for being hardworking, responsible, and having the drive to succeed on a personal level. In their free time, they enjoy being around their children. Unfortunately, due to the lack of financial resources, the members were not able to finish their studies. They currently strive each day to provide a better future for their children.
          </div>
          <div class="row">
            <% if (sponsors.length > 0){ %>
              <%= sponsors.first().get("fname") %>
            <%}%>
          </div>
          <div class="row"></div>
        </div>
        
        <div class="col-md-1"></div>
        
        <div class="col-md-4">
          <div id="case-info">
            <div class="row" id="case-description">
               A portion of G.s. Mujeres Solidarias En Accion Group's $1,725 loan helps a member to buy trousers, shorts, skirts, blouses, bedding, pajamas, sandals, and perfumes.
            </div>
            <span id="percent-raised"><%=(Math.floor(paralegal.escape("money")/10)) + "%"%></span><span id="amount-to-go"> raised, $<%= 1000- paralegal.escape("money")%> left to go.</span>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=(Math.floor(paralegal.escape("money")/10)) + "%"%>;">
                <span class="sr-only"><%=(paralegal.escape("money")/1000)*100 + "%"%> Complete (success)</span>
              </div>
            </div>
            
          </div>
          <div class="row" id="button-area">
            <span id="donation-message">Select amount to donate</span><br>
            <div class="btn-group">
              <button id="pulldown-button" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
               $25 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="#">$25</a></li>
                  <li><a href="#">$50</a></li>
                  <li><a href="#75">$75</a></li>
                  <li><a href="#100">$100</a></li>
                  <li><a href="#125">$125</a></li>
                  <li><a href="#150">$150</a></li>
                  <li><a href="#175">$175</a></li>
                  <li><a href="#200">$200</a></li>
                  <li><a href="#225">$225</a></li>
                  <li><a href="#250">$250</a></li>
              </ul>
            </div>

            <input type="submit" id="donate-button" class="btn btn-primary btn-lg" name="user[name]" value="$25">

        </div>

        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remaining funds</h4>
              </div>
              <div class="modal-body">
                <p>    You have $<%=KivaClone.currentUser.get("money")%> remaining to give.  You can make a difference. </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 
