<style>

nav.navbar{
  border-bottom: #4b9123 5px solid;
  margin-bottom: 0px; 
}

li{
  margin-left: 15px;
  margin-right: 15px;
}

.btn-xs{
  margin-top: 13px;
}

.navbar-nav{
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-size-adjust: 0.488;
  font-weight: 200;
}

.btn-xs{
  margin-right: 5px;
}

#current-money{
  float: left;
}

#bottom-strip{
  height: 35px;
  border-bottom: none;
  padding-bottom: none;
  font-size: 1.4em;
}

#bottom-tagline{
  color: white;
  padding-top: 5px;
  padding-left: 111px;
}

.footer{
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f2), color-stop(1, #c2e5a2));
  background-image: -ms-linear-gradient(top, #f7f7f2 0%, #c2e5a2 100%);
  background-image: linear-gradient(top, #f7f7f2, #c2e5a2);
  background-repeat: no-repeat;
  background-position: bottom;

  min-height: 500px;
  padding: 0px;
}

#tagline{
  padding-top: 14px;
  padding-left: 111px;
}

.head-strip{
  font-family:"Museo Slab 300", Rockwell, Georgia, serif;
  font-weight:300;
  font-style:normal;
  font-size:1.8em;
  color: white;
  background: #74b446;
  height: 70px;
  margin-left: 0;
  margin-right: 0;
}

.hidden-elements{
  display: none;

}

#content {
  font: .875em/1.357 arial, helvetica, sans-serif;
}

#home-page-info{

  margin-top: 100px;
  background-color: white;
  margin-left: 9px;
  -webkit-box-shadow: 0px -2px 8px -4px #888, 1px 1px 4px #ccc;
}



</style>

<% if current_user %>
<script type="text/javascript">
  window.currentUser = {
    id: "<%=current_user.id%>"
  }
</script>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title>Kiva for Paralegals</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kiva for Paralegals</a>
      </div>

      <div class="nav navbar-nav">
        <li><a class="navbar-link" href="#paralegals/index">Give</a></li>
        <li><a class="navbar-link" href="#">About</a></li>
        <li><a class="navbar-link" href="#">Teams</a></li>
      </div>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
       <button type="submit" class="btn btn-default">Search</button>
      </form>

      <% if signed_in? %>
      <div class="nav navbar-nav navbar-left">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.fname%><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#user">My paralegals</a></li>
            <li><a href="#">My teams</a></li>
            <li><a href="#">Messages</a></li>
            <li>
              <% if signed_in? %>
                <li id="signout-button"><%= link_to "Sign out", session_url, { method: :delete } %></li>
              <%else%>
                <li><%= link_to "Sign in", new_session_url, { method: :get, class: "btn btn-xs btn-success" } %></li>
              <% end %>
            </li>


          </ul>
        </li>
      </div>
      <% end %>

      <ul class="nav navbar-nav navbar-left">
        <li>
          <% if !signed_in? && request.env['PATH_INFO'] == "/session/new" %>
            <li><%= button_to "Register", new_user_url, { method: :get, class: "btn btn-xs btn-success" } %></li>
          <% elsif !signed_in? && request.env['PATH_INFO'] == "/users/new" %>
            <li><%= button_to "Sign in", new_session_url, { method: :get, class: "btn btn-xs btn-success" } %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

<%= yield %>

  <div class="footer container-fluid"> 
    <div class="hidden-elements">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div id="home-page-info" class="jumbotron">
              <div id="paralegalInfo">
                <h1> test </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="head-strip container-fluid" id="bottom-strip">
    <div class="container-fluid" id="bottom-tagline">Giving changes lives.</div>
  </div>
</body>
</html>
